.App {
  text-align: center;
  background-color: green;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Card {
  position: absolute;
  margin: auto;
  margin-top: 25% !important;
  left: 0;
  right: 0;
}